<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Chest Analysis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/analysis.css' %}">
    <link rel="stylesheet" href="{% static 'doctor/css/slider.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function getId(id = {{ pendingItem.id }}){
            return id;
        }
        function getType(type = "{{ pendingItem.type }}") {
            return type;
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home:home' %}">MIDAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'doctor:logout' %}">Logout</a>
    </form>
  </div>
</nav>

    <br><br>

            <div class="container m-7 pb-5">
                    <div class="row">
                        <div class="col">
                            <h3 class="mt-2">Mammography Image</h3>
                            <div class="list-group">
                                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <img id="myImg" src="{{ pendingItem.images.url }}" style="width: 100%;height: 100%" alt="Not found"/>
                                      </a>
                            </div>
                        </div>
                        <div class="col">
                            <h3 class="mt-2">Tools</h3>
                            <div class="list-group">
                                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p id="amount" style="border:0; font-weight:bold;">Threshold range : 0 - 255</p>
                                        </div>

                                          <div id="slider-range" style="width: 100%;"></div>

                                      </a>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p id="alpha" style="border:0; font-weight:bold;">Alpha : 1</p>
                                        </div>
                                        <div id="slider-range-alpha" style="width: 100%;"></div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p id="beta" style="border:0; font-weight:bold;">Beta : 0</p>
                                        </div>
                                        <div id="slider-range-beta" style="width: 100%;"></div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-center">
                                            <button onclick="detectEdgeFun()" class="btn btn-info" style="width: 40%;">Detect Edges</button>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-center">
                                            <button onclick="eqHistFun()" class="btn btn-info" style="width: 40%;">Equalize Histogram</button>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-center">
                                            <button onclick="getResultFun()" class="btn btn-info" style="width: 40%;">Detect Mammography</button>
                                        </div>
                                        <p>
                                        <p id="mammography"></p>
                                        <p id="mamconfidence"></p>
                                    </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
                                        <div class="d-flex w-100 justify-content-center">
                                        </div>
                                        <p>
                                            <form method="post">

                                                <input type="hidden" name="csrfmiddlewaretoken" value="OSEZx7mws57UIqCURgpbibO4RfBbhMJjzdyejV4tm0axYNBh9QR6bsovLLIaQ3oo">

                                                        <div id="div_id_report" class="form-group">

                                                                <label for="id_report" class="col-form-label  requiredField">
                                                                    <b>Report</b><span class="asteriskField">*</span>
                                                                </label>

                                                                    <div class="">
                                                                        <textarea name="report" cols="80" rows="5" class="textarea form-control" required id="id_report"></textarea>

                                                                    </div>
                                                        </div>
                                                <button type="submit" class="btn btn-info">Submit</button>

                                            </form>

                                        </p>
                                    </a>
                            </div>
                        </div>
                    </div>
                <p>

            </div>


</body>

<script src="{% static 'doctor/js/changethreshold.js' %}"></script>
<script src="{% static 'doctor/js/changeContrast.js' %}"></script>
<script src="{% static 'doctor/js/detectEdge.js' %}"></script>
<script src="{% static 'doctor/js/equHist.js' %}"></script>
<script src="{% static 'doctor/js/getResult.js' %}"></script>
<script src="{% static 'doctor/js/slider.js' %}"></script>

</html>